* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Girloy';
  background-color: #0b1d26;
  background-image: url('./../img/bg/BG.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
}

ul {
  list-style: none;
}
