.footer {
  padding: 120px 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-right {
  display: flex;
  gap: 212px;
}
.footer-text {
  margin-top: 24px;
  max-width: 305px;
}

.footer-copyring {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-list__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #fbd784;
  margin-bottom: 8px;
}
.footer-list__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
